@* @model DOAN.Views.Loan.LichSuTraNoModel *@
@{
    ViewData["Title"] = "Lịch sử trả nợ";
}
<h2>Lịch sử trả nợ</h2>
<table class="table">
    <thead>
        <tr>
            <th>Mã khoản vay</th>
            <th>Ngày thanh toán</th>
            <th>Số tiền thanh toán</th>
            <th>Phương thức thanh toán</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
</table>