@model List<DOAN.Models.DepositAccount>

@{
    ViewData["Title"] = "Báo cáo danh sách tài khoản tiền gửi";
}

<h2 class="mb-4 fw-bold">Báo cáo danh sách tài khoản tiền gửi</h2>
<a href="@Url.Action("ExportToPdf", "Reports")" class="btn btn-primary mb-3">Xuất PDF</a>

<table class="table table-hover table-bordered shadow-sm rounded-3 overflow-hidden">
    <thead class="custom-table-header text-center align-middle">
        <tr>
            <th>Mã tài khoản</th>
            <th>Tên khách hàng</th>
            <th>Số dư</th>
        </tr>
    </thead>
    <tbody class="align-middle">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AccountId</td>
                <td>@(item.Customer != null ? item.Customer.FullName : "Không có dữ liệu")</td>
                <td>@(item.Balance.ToString("N2") ?? "0.00")</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table-hover tbody tr:hover {
        background-color: #f8f9fa;
    }

    .custom-table-header {
        background-color: #E6F0FF;
    }

        .custom-table-header th {
            color: #0056b3;
        }

    .table {
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.1);
    }
</style>
